body{

display:flex;
flex-direction: column;
align-items: center;
justify-content: center;


}
.top{

    display:flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.display{
    width: 70px;
    height:70px;

    background-color: aqua;
    border : 1px solid rgb(129, 2, 2);   
}
button{
    border : 1px solid rgb(112, 112, 112);   
    background-color: rgb(67, 179, 76);
}
.container {
    width: 400px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
 

}